
body {
  margin: 0;
  padding: 0;
  font-family: Lustria;
}

button{
  outline: none;
  cursor: pointer;
}


@font-face {
    font-family: Penguin;
    src: url(fonts/PenguinAttack.ttf);
}

@font-face {
    font-family: Lustria;
    src: url(fonts/Lustria-Regular.ttf);
}

ul{
  list-style-type: none;
}

/* COLORS VARIABLES*/
/*
green = #3bda22;
green hover = #609e19;
red = #cc0000;
red hover = #b20000;
blue color: rgb(2, 179, 228);
*/


/* header */

.container-header{
    margin: 0 auto;
    max-width: 96%;
    display: flex;
    justify-content: space-between;
}
.header{
    height: 80px;
    width: 100%;
    margin-bottom: 40px;
    background: rgb(2, 179, 228) repeating-linear-gradient(to right, rgba(0, 126, 172, 0.4), rgba(0, 126, 172, 0.2) 15px, transparent 4px, transparent 8px) repeat scroll 0 0;
}

.logo{
    font-family: Penguin;
    font-size: 40px;
    margin: 20px 0 25px 35px;
    color: white;
    text-transform: uppercase;
}
.descr{
  font-family: Lustria;
  font-size: 16px;
  text-transform: lowercase;
  margin: 25px 0 25px 25px;
}

.post-button, .save-button, .comment-button, .changes-button{
  font-family: sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  margin: 20px;
  background: #3bda22;
  height: 17px;
  background-image: -webkit-linear-gradient(top, #3bda22, #609e19);
  background-image: -moz-linear-gradient(top, #3bda22, #609e19);
  background-image: -ms-linear-gradient(top, #3bda22, #609e19);
  background-image: -o-linear-gradient(top, #3bda22, #609e19);
  background-image: linear-gradient(to bottom, #3bda22, #609e19);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  color: #ffffff;
  font-size: 14px;
  padding: 12px 20px 26px 20px;
  text-decoration: none;
  cursor: pointer;
  box-shadow: 2px 2px 2px #444445;
}

.changes-button{
  width: 120px;
  height: 10px;
  box-shadow: none;
  text-align: center;
  padding: 12px 20px 20px 20px;
  margin: 0 auto;
}

.comment-button{
  padding: 12px 12px 16px 20px;
  width: 80px;
  height: 12px;
  margin: 0 0 40px 0;
  box-shadow: none;
}

.save-button{
  width: 100px;
  height: 10px;
  box-shadow: none;
  text-align: center;
  padding: 12px 20px 20px 20px;
  margin: 0 auto;
}

.post-button:hover {
  background: #34bf1f;
  background-image: -webkit-linear-gradient(top, #3bda22, #53940f);
  background-image: -moz-linear-gradient(top, #3bda22, #53940f);
  background-image: -ms-linear-gradient(top, #3bda22, #53940f);
  background-image: -o-linear-gradient(top, #3bda22, #53940f);
  background-image: linear-gradient(to bottom, #3bda22, #53940f);
  text-decoration: none;
}

.post-button:active, .save-button:active, .comment-button:active, .changes-button:active{
   position: relative;
  top: 2px;
}

.upper-nav{
  color: rgb(2, 179, 228);
  font-size: 20px;
  list-style-type: none;
  max-width: 96%;
  display: flex;
  justify-content: space-around;
}

.upper-nav li{
  padding: 10px;
  cursor: pointer;
}
.upper-nav li:hover{
  color: rgb(1, 146, 186);
}

.selected{
  border-bottom: 2px solid #34bf1f;
}
/* plate */

.container-plate{
  max-width: 96%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0 auto;
}

.post-plate{
  position: relative;
  border: 1px solid rgba(211,211,211, 0.5);
  border-radius: 5px;
  box-sizing: border-box;
  min-width: 340px;
  width: 31%;
  padding: 45px 15px;
  margin: 1% 1%;
}

.post-plate:hover{
  box-shadow: 2px 2px 2px 4px rgba(211,211,211, 0.7);
}

@media (min-width: 768px) and (max-width: 1180px){
  .post-plate{
    box-sizing: border-box;
    width: 48%;
  }
}

@media screen and (max-width: 767px){
  .post-plate{
    box-sizing: border-box;
    width: 100%;
  }
  .logo{
    margin-top: 10px;
  }
  .descr{
    position: absolute;
    font-size: 13px;
    top: 30px;
    left: 20px;
  }
}
@media screen and (max-width: 420px){
  .descr{
    display: none;
  }
  .logo{
    margin-top: 20px;
  }
}

.date, .date-post, .date-comment, .comment-details{
  color: gray;
  font-size: 0.7em;
}

.date{
  position: absolute;
  top: 10px;
  left: 20px;
}

.title{
  font-size: 1.3em;
  line-height: 25px;
}

.author{
  color: gray;
  font-size: 1em;
}

.snap{
  margin-top: 20px;
  height: 60px;
  overflow: hidden;
}

.comment-details{
  position: absolute;
  top: 10px;
  right: 40px;
}

@font-face {
  font-family: 'FontAwesome';
  src: url('fonts/fontawesome-webfont.eot?v=4.7.0');
  src: url('fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'),
  url('fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'),
  url('fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'),
  url('fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'),
  url('fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.fa{
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa:hover{
  cursor: pointer;
}

.fa-thumbs-up:before {
  color: #3bda22;
  content: "\f164";
  padding: 0 10px;
}

.fa-thumbs-up:hover:before{
  color: #609e19;
}

.fa-thumbs-down:before {
  color: #cc0000;
  content: "\f165";
  padding: 0 10px;
}

.fa-thumbs-down:hover:before {
  color: #b20000;
}

.fa-pencil:before{
  padding: 10px;
  content: "\f040";
  color: #3bda22;
}

.fa-pencil:hover:before{
  color: #609e19;
}

.fa-trash-o:before{
  padding: 10px;
  content: "\f014";
  color: #cc0000;
}

.fa-trash-o:hover:before{
  color: #b20000;
}


.category, .category-post{
  color: rgb(2, 179, 228);
}

.category-post{
  font-size: 18px;
  margin-bottom: 25px;
}

.category{
  position: absolute;
  bottom: 15px;
}

.category-title{
  font-size: 16px;
  color: black;
}

.stat{
  position: absolute;
  bottom: 15px;
  left: 55%;
}

/* AppPost*/
input.author, input.title{
    outline: none;
    outline-style: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid #eeeeee 1px;
    padding: 3px 10px;
    margin: 10px 0;
   }

input.title{
  font-size: 25px;
  width: 100%;
}

input.author, textarea{
  color: black;
}

.containter-post{
    margin: 40px auto;
    border: 4px dotted gray;
    padding: 20px 80px;
    max-width: 50%;
  }

textarea{
  margin-top: 20px;
  font-size: 15px;
  padding: 10px;
  width: 100%;
  min-height: 280px;
  outline: none;
  outline-style: none;
  border: none;
}

.commentarea{
  min-height: 50px;
}
/* One Post Details */
.container{
    position: relative;
    margin: 0 auto;
    max-width: 50%;
}
.container-comments>h3{
  margin-top: 50px;
}

.avatar, .avatar-comment {
  width: 65px;
  height: 65px;
  background-color: white;
  margin-right: 18px;
  background-image: url('./img/person.svg');
  border: 1px solid gray;
  background-size: 32px 32px;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  display:inline-block;
}

.avatar-comment{
  width: 50px;
  height: 50px;
}

.author-post, .author-comment{
  display: inline-block;
  position: relative;
  bottom: 35px;
}

.date-post, .date-comment{
  position: relative;
  left: 80px;
  bottom: 30px;
}

.title-post{
  font-size: 1.5em;
  line-height: 25px;
  margin-bottom: 25px;
}

.snap-post, .snap-comment{
  margin-bottom: 25px;
}

.snap-post{
  font-size: 105%;
}

/* Comments*/
.comment-plate{
  position: relative;
  padding: 20px 0;
  border-bottom: 1px solid rgba(211,211,211, 0.5);
}

.new-comment{
  margin-top: 40px;
}

/* Add Post*/

select{
  -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
  border-radius: 4px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;
}

.cat-select{
  margin-top: 10px;
  width: 140px;
  height: 25px;
  border-radius: 5px;
  outline: none;
  border: none;
  background: transparent;
  font-size: 1em;
  padding: 2px 10px;
  border-bottom: 1px solid rgba(2, 179, 228, 0.5);
  background-image:
    linear-gradient(45deg, transparent 50%, rgb(2, 179, 228) 50%),
    linear-gradient(135deg, rgb(2, 179, 228) 50%, transparent 50%);
  background-position:
    calc(100% - 20px) calc(0.5em + 2px),
    calc(100% - 15px) calc(0.5em + 2px);
  background-size:
    6px 8px,
    6px 8px;
  background-repeat: no-repeat;
}

/* Modals */

.modal-success, .modal-edit{
  outline: none;
  margin: 20% auto;
  width: 240px;
  border: 1px solid gray;
  padding: 50px 40px 30px 40px;
  text-align: center;
  box-shadow: 2px 2px 2px 4px rgba(211,211,211, 0.7);
  position: relative;
}

.modal-success>h1{
  display: inline;
}

.fa-check:before{
  padding-right: 12px;
  content: "\f00c";
  color: #3bda22;
  font-size: 2em;
}

.close-modal{
  position: absolute;
  top: 10px;
  right: 20px;
}

.modal-edit{
  width: 50%;
  background: white;
  text-align: left;
}

.sort{
  margin: 20px 20px 20px 60px;
}