
body {
  margin: 0;
  padding: 0;
  font-family: Lustria;
}

button{
  outline: none;
  cursor: pointer;
}


@font-face {
    font-family: Penguin;
    src: url(fonts/PenguinAttack.ttf);
}

@font-face {
    font-family: Lustria;
    src: url(fonts/Lustria-Regular.ttf);
}

/* header */

.container-header{
    margin: 0 auto;
    max-width: 96%;
    display: flex;
    justify-content: space-between;
}
.header{
    height: 80px;
    width: 100%;
    background: rgb(2, 179, 228) repeating-linear-gradient(to right, rgba(0, 126, 172, 0.4), rgba(0, 126, 172, 0.2) 15px, transparent 4px, transparent 8px) repeat scroll 0 0;
}

.logo{
    font-family: Penguin;
    font-size: 40px;
    margin: 20px 0 25px 35px;
    color: white;
    text-transform: uppercase;
}
.descr{
  font-family: Lustria;
  font-size: 16px;
  text-transform: lowercase;
  margin: 25px 0 25px 25px;
}

.post-button{
  font-family: sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  margin: 20px;
  background: #3bda22;
  height: 17px;
  background-image: -webkit-linear-gradient(top, #3bda22, #609e19);
  background-image: -moz-linear-gradient(top, #3bda22, #609e19);
  background-image: -ms-linear-gradient(top, #3bda22, #609e19);
  background-image: -o-linear-gradient(top, #3bda22, #609e19);
  background-image: linear-gradient(to bottom, #3bda22, #609e19);
  -webkit-border-radius: 18;
  -moz-border-radius: 18;
  border-radius: 18px;
  color: #ffffff;
  font-size: 14px;
  padding: 12px 20px 26px 20px;
  text-decoration: none;
  cursor: pointer;
  box-shadow: 2px 2px 2px #444445;
}

.post-button:hover {
  background: #34bf1f;
  background-image: -webkit-linear-gradient(top, #3bda22, #53940f);
  background-image: -moz-linear-gradient(top, #3bda22, #53940f);
  background-image: -ms-linear-gradient(top, #3bda22, #53940f);
  background-image: -o-linear-gradient(top, #3bda22, #53940f);
  background-image: linear-gradient(to bottom, #3bda22, #53940f);
  text-decoration: none;
}

.upper-nav{
  color: rgb(2, 179, 228);
  font-size: 20px;
  list-style-type: none;
  max-width: 96%;
  display: flex;
  justify-content: space-around;
}

.upper-nav li{
  padding: 10px;
  cursor: pointer;
}
.upper-nav li:hover{
  color: rgb(1, 146, 186);
}

.selected{
  border-bottom: 2px solid #34bf1f;
}
/* plate */

.container-plate{
  list-style: none;
  max-width: 96%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.post-plate{
  position: relative;
  border: 1px solid rgba(211,211,211, 0.5);
  border-radius: 5px;
  box-sizing: border-box;
  min-width: 330px;
  width: 31%;
  padding: 45px 15px;
  margin: 1% 1%;
}

.post-plate:hover{
  box-shadow: 2px 2px 2px 4px rgba(211,211,211, 0.7);
}

@media (min-width: 768px) and (max-width: 1180px){
  .post-plate{
    box-sizing: border-box;
    width: 48%;
  }
}

@media screen and (max-width: 767px){
  .post-plate{
    box-sizing: border-box;
    width: 100%;
  }
  .logo{
    margin-top: 10px;
  }
  .descr{
    position: absolute;
    font-size: 13px;
    top: 30px;
    left: 20px;
  }
}
@media screen and (max-width: 420px){
  .descr{
    display: none;
  }
  .logo{
    margin-top: 20px;
  }
}

.date{
  position: absolute;
  top: 10px;
  left: 20px;
  color: gray;
  font-size: 0.7em;
}

.title{
  font-size: 1.3em;
  line-height: 25px;
}

.author{
  color: gray;
  font-size: 0.9em;
}

.snap{
  margin-top: 20px;
}


@font-face {
  font-family: 'FontAwesome';
  src: url('fonts/fontawesome-webfont.eot?v=4.7.0');
  src: url('fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'),
  url('fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'),
  url('fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'),
  url('fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'),
  url('fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.fa{
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-thumbs-up:before {
  color: #3bda22;
  content: "\f164";
  padding: 0 6px;
}


.fa-thumbs-up:hover:before{
  color: #609e19;
  cursor: pointer;
}

.fa-thumbs-down:before {
  color: #cc0000;
  content: "\f165";
  padding: 0 6px;
}

.fa-thumbs-down:hover:before {
  color: #b20000;
  content: "\f165";
  padding: 0 6px;
}

.category{
  position: absolute;
  bottom: 15px;
  color: rgb(2, 179, 228);
}

.vote{
  position: absolute;
  bottom: 15px;
  left: 80%;
}

/* AppPost*/
input.author, input.title{
    outline: none;
    outline-style: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid #eeeeee 1px;
    padding: 3px 10px;
    margin: 20px 0;
   }

input.title{
  font-size: 30px;
}

input.author, textarea{
  color: black;
}

.containter-post{
    margin: 40px auto;
    max-width: 90%;
  }

textarea{
  margin-top: 20px;
  font-size: 15px;
  padding: 10px;
  width: 100%;
  outline: none;
  outline-style: none;
  border-top: none;
  border-bottom: none;
  border-left: none;
  border-right: none;
}